/* fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

:root {
  --color-primary: #1f2136;
  --color-primary-light: #e9e9eb;
  --color-secondary: #ac6b6e;
  --color-white: #fff;
  --color-black: #222;
  --color-grey: #6b7280;

  /* fonts  */
  --font: "Roboto", sans-serif;
  --text-md: 1rem;
  --text-sm: 0.9rem;

  --transition: all 0.3s linear;
  --shadow-light: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  --shadow-dark: 3px 7px 10px 0px rgba(0, 0, 0, 0.5);
  --border-radius: 0.25rem;
  --min-width: 90vw;
  --max-width: 1280px;
  --fixed-width: 640px;
  --spacing-sm: 0.0125rem;
  --spacing-lg: 0.125rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-primary-light);
  background-image: url("./assets/images/background.png");
  color: var(--color-primary);
  font-family: var(--font);
  font-size: var(--text-md);
  font-weight: 400;
  letter-spacing: var(--spacing-sm);
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--spacing-lg);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}

p {
  color: var(--color-grey);
  margin-bottom: 1.5rem;
  text-align: justify;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  letter-spacing: var(--spacing-sm);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* button */
.btn {
  cursor: pointer;
  color: var(--color-white);
  background: var(--color-secondary);
  border: transparent;
  border-radius: var(--border-radius);
  font-size: var(--text-md);
  letter-spacing: var(--spacing-lg);
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow-light);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--color-primary);
}

.btn-block {
  width: 100%;
}

.btn-hero {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
}

.btn-outline {
  background: var(--color-white);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.btn-outline:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}

/* Loading */
.loading-window {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 3rem;
  height: 3rem;
  border: 7px solid var(--color-primary);
  border-radius: 50%;
  border-top-color: transparent;
  animation: spinner 0.7s linear infinite;
}

.full-page {
  min-height: 100vh;
}

/* hero */
.hero {
  height: 100vh;
  background: linear-gradient(rgb(31, 33, 54, 0.9), rgba(172, 107, 110, 0.5)),
    url("./assets/images/hero.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section */
.section {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  .section {
    margin: 3rem 0;
  }
}

.container {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  width: var(--min-width);
  max-width: var(--max-width);
  padding: 2rem;
}

.sub-section-container {
  border: 2px solid var(--color-primary-light);
  border-left: 2px solid var(--color-secondary);
  border-radius: var(--border-radius);
  margin: 1.5rem 0;
  padding: 1rem;
}

.sub-section-container:hover {
  box-shadow: var(--shadow-light);
}

.sub-section-container h5 {
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius);
  color: var(--color-secondary);
  display: inline-block;
  font-size: var(--text-md);
  margin: 0;
  padding: 0.25rem;
  text-transform: uppercase;
}

.date-format {
  letter-spacing: var(--spacing-lg);
  margin-bottom: 0.75rem;
}

.desc {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;
  align-items: start;
}

.bullet-point {
  padding-top: 0.75rem;
  font-size: 1.5rem;
}

.desc p {
  margin: 0.25rem 0;
}
